{
  "animal-attribute-test": "/covers/animal-attribute-test.svg",
  "bullying-vulnerability-index": "/covers/bullying-vulnerability-index.svg",
  "burns-depression-inventory": "/covers/burns-depression-inventory.svg",
  "desire-proportion-test": "/covers/desire-proportion-test.svg",
  "elk-sexual-preference-test": "/covers/elk-sexual-preference-test.svg",
  "harvard-psychological-gender-test": "/covers/harvard-psychological-gender-test.svg",
  "how-much-you-like-ta-test": "/covers/how-much-you-like-ta-test.svg",
  "irritability-quotient-test": "/covers/irritability-quotient-test.svg",
  "love-brain-test": "/covers/love-brain-test.svg",
  "love-concept-test": "/covers/love-concept-test.svg",
  "loyalty-test": "/covers/loyalty-test.svg",
  "mbti-test": "/covers/mbti-test.svg",
  "mental-health-test": "/covers/mental-health-test.svg",
  "narcissistic-personality-inventory": "/covers/narcissistic-personality-inventory.svg",
  "physiological-vs-psychological-liking-test": "/covers/physiological-vs-psychological-liking-test.svg",
  "procrastination-test": "/covers/procrastination-test.svg",
  "psychological-age-test": "/covers/psychological-age-test.svg",
  "psychological-maturity-test": "/covers/psychological-maturity-test.svg",
  "psychological-stress-test": "/covers/psychological-stress-test.svg",
  "rpi-couple-control": "/covers/rpi-couple-control.svg",
  "scl-90": "/covers/scl-90.svg",
  "self-confidence-test": "/covers/self-confidence-test.svg",
  "sexual-orientation-test": "/covers/sexual-orientation-test.svg",
  "sexual-repression-index": "/covers/sexual-repression-index.svg",
  "social-adaptability-test": "/covers/social-adaptability-test.svg",
  "talent-verification-test": "/covers/talent-verification-test.svg",
  "toxic-girl-test": "/covers/toxic-girl-test.svg",
  "ucla-loneliness-scale": "/covers/ucla-loneliness-scale.svg",
  "yandere-index": "/covers/yandere-index.svg"
}
